.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock

android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
ios/Pods/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
